NEXT_PUBLIC_AUTH0_DOMAIN=
NEXT_PUBLIC_AUTH0_CLIENT_ID=
NEXT_PUBLIC_AUTH0_AUDIENCE=mold-inventory-app-production.epicpatka.workers.dev/api
NEXT_PUBLIC_AUTH0_SCOPES="openid profile read:current_user create:molds update:molds delete:molds read:molds"

DATABASE_URL="file:./prisma/db.sqlite"